body {
  background-color: #dbb5b5;
  margin: 0;
  font-family: alagard;
  color: #1e3445;
  font-size: 25px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.startPage {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1000;
}
.startPage h1 {
  font-size: 90px;
  margin-bottom: 20px;
  color: #ffffff;
}
.startPage p {
  font-size: 25px;
  margin-bottom: 30px;
  color: #ffffff;
}
.startPage button {
  background: none;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 30px;
  font-family: alagard;
  cursor: pointer;
  transition: all 0.3s ease;
}
.startPage button:hover {
  background: #ffffff;
  color: #192d4e;
}
.locationCard {
  border: 16px solid transparent;
  border-image-source: url(../img/Style=Heavyeeee.svg);
  border-image-slice: 16 fill;
  width: 330px;
  opacity: 85%;
  text-align: center;
  left: 50;
  top: 30;
  position: absolute;
}

.mainCard {
  opacity: 85%;
  position: absolute;
  bottom: 40;
  left: 50;
  right: 50;
}

.textCard {
  width: 1125px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
}
#textCardContent {
  border: 16px solid transparent;
  border-image-source: url(../img/Style=Heavyeeee.svg);
  border-image-slice: 16 fill;
  padding: 5px;
  width: 700px;
}
.textCardOptions {
  gap: 25px;
  display: flex;
  text-align: center;
}
#textCardOptions1:hover {
  opacity: 75%;
  cursor: pointer;
}
#textCardOptions2:hover {
  opacity: 75%;
  cursor: pointer;
}
#textCardOptions3:hover {
  opacity: 75%;
  cursor: pointer;
}

#textCardOptions1 {
  border: 16px solid transparent;
  border-image-source: url(../img/Style=Heavyeeee.svg);
  border-image-slice: 16 fill;
  width: 100%;
}

#textCardOptions2 {
  border: 16px solid transparent;
  border-image-source: url(../img/Style=Heavyeeee.svg);
  border-image-slice: 16 fill;
  width: 100%;
}

#textCardOptions3 {
  border: 16px solid transparent;
  border-image-source: url(../img/Style=Heavyeeee.svg);
  border-image-slice: 16 fill;
  width: 100%;
}

#endingScene {
  display: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#endingCard {
  border: 16px solid transparent;
  border-image-source: url(../img/Style=Heavyeeee.svg);
  border-image-slice: 16 fill;
  width: 700px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 35px;
  margin-bottom: 300;
}

@font-face {
  font-family: alagard;
  src: url(../font/alagard/alagard.ttf);
}
@font-face {
  font-family: alkhemikal;
  src: url(../font/alkhemikal/Alkhemikal.ttf);
}
